*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* contenedor en de todo el contenido de metas */
.goals-container{
  width: 100%;
  height: 100vh; 
}

.logo {
    height: 50px; /* Ajusta según tu header */
    width: auto;
}


/* estilos para el header */
.goals-container .goals_header{
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.goals-container .goals_header .title{
  margin: 10px 0;
  padding: 0 5px;
  color: #F0F0F2;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.goals-container .goals_header .title h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  letter-spacing: 1px;
  font-size: 2rem;
  background: linear-gradient(to bottom, #bdbfbfa4, #1b252623);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.goals-container .goals_header .options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; 
  padding: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* From Uiverse.io by Smit-Prajapati */ 
.button {
  --main-color: #f0f0f2;
  --main-bg-color: #456E73;
  --pattern-color: #32698c21;
  /* change this rotation value */
  filter: hue-rotate(0deg);
  cursor: pointer;
  letter-spacing: 0.2rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    12px 12px,
    12px 12px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: .27rem 2rem;
  font-weight: 100;
  font-size: .8rem;
  border-radius: 5px;
  transition: background-size 0.2s ease-in-out;
}

.button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.button:active {
  filter: hue-rotate(250deg);
}

/* ICONOS DEL BOTÓN (siempre animados) */
.button svg {
  font-size: 18px;
  margin-right: 6px;
  color: #f0f0f28a;
  animation: arrowIdle 10s ease-in-out infinite;
}

/* CLICK */
.button:active svg {
  transform: scale(0.9);
}

/* ANIMACIÓN SUTIL Y ELEGANTE */
@keyframes arrowIdle {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

/* errores */
.errorGoals {
  font-size: 0.9rem;
  color: #F0F0F2;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-style: italic; 
  margin-top: 10px;
  font-weight: bold;
  animation: blink 1s infinite alternate ease-in-out;
}

/* Animación de parpadeo */
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* estilos para la barra de buesqueda */
.search_goals{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 5px;
}

.search_goals .content-search{
  width: 60%;
  display: flex;
  padding: 5px;
  border-radius: 35px;
  border: 1px solid #bdbfbf3f;
}

.search_goals .content-search input{
  width: 90%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: .7rem;
  padding: 0 10px;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
}

.search_goals .content-search input::placeholder{
  color: #F0F0F2;

}

.search_goals .content-search button{
  width: 10%;
  padding: 10px 10px;
  background-color: #326A8C;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.search_goals .content-search button:hover{
  background-color: #32698cab;
}

.noGoals{
  width: 100%;
  font-size: 1.5rem;
  color: #F0F0F2;
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
}

/* estilos para no se encontraron tareas */
.error-container{
  width: 100%;
  height: 30px;
  padding: 0 10px;
  color: #f0f0f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.atomic_habits {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.atomic_habits p {
  width: auto;
  max-width: 250px;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  color: #f0f0f28c;
  border: 2px solid #326A8C;
  font-family: 'Arial', sans-serif;
  transition: all 0.3s ease-in-out;
}

.atomic_habits p:hover {
  transform: scale(1.01);
  background: linear-gradient(135deg, #32698c10, #32698c11);
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOutAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* estilos para el boton de ir atrás */
.back{
  padding: 5px 10px;
  height: 40px;
  visibility: hidden;
  display: flex;
  align-items: center;
}

.back.visible {
  visibility: visible;
}

.back svg {
  color: #F0F0F2; 
  font-size: 1rem; 
  padding: 10px 15px;
  background-color: #326A8C;
  cursor: pointer;
  border-radius: 5px;
}

.back svg:hover{
  background-color: #32698cab;
}

.error-container .error-search{
  font-size: .8rem;
  font-style: italic;
  font-weight: 600;
  padding: 2px 20px;
  border-radius: 5px;
}

/* estilos para las metas */
.goals-container .dashboard_goal {
  column-count: auto;
  column-width: 220px; 
  column-gap: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.goals-container .dashboard_goal .goal-item {
  display: inline-block; 
  width: 100%;
  padding: 10px;
  color: #F0F0F2;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  background: #0d0d0d3a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(10px); */
  word-break: break-word;
  white-space: normal;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.goal-completed {
  box-shadow: inset 0 0 10px #D99E6A;
  animation: pulse-shadow 1.5s infinite alternate ease-in-out;
  position: relative;
  overflow: hidden;
}

/* Generar múltiples caritas */
.goal-completed::before {
  content: '🔥';
  right: 10px;
  position: absolute;
  font-size: 1.2rem;
  opacity: 0.9;
}

/* Sombra interna pulsante */
@keyframes pulse-shadow {
  0% {
    box-shadow: inset 0 0 10px #d99e6a73;
  }
  100% {
    box-shadow: inset 0 0 20px #d99e6a73;
  }
}

@keyframes pulse-shadow-two{
  0% {
    box-shadow: inset 0 0 10px #326A8C;
  }
  100% {
    box-shadow: inset 0 0 20px #32698c9c;
  }
}

.goal-completed_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #0d0d0d9d;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse-shadow-two 1.5s infinite alternate ease-in-out;
}

.goal-completed_modal::before {
  content: '¡Meta completada! 🏆';
  right: 10px;
  bottom: 10px;
  position: absolute;
  font-size: 1.1rem;
  opacity: 0.9;
  animation: emoji-fall 4s linear infinite;
  background-color: #32698cab;
  padding: 5px 10px;
  border-radius: 5px;
}

/* tarea expirada */
.goal-expired {
  opacity: 0.5; 
  pointer-events: none; 
  filter: grayscale(80%); 
  position: relative;
  cursor: not-allowed; 
}

.goal-expired::before {
  content: "Incumplida";
  position: absolute;
  top: 0;
  right: 0;
  background: #BF2011;
  color: #F0F0F2;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 0 0 0 8px;
  font-weight: bold;
  text-transform: uppercase;
}


.goals-container .dashboard_goal .goal-item:hover{
  background: #0d0d0d5e;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.goals-container .dashboard_goal .goal-item:active{
  transform: translateY(2px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.goal-item .content-infoGoal{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard_goal .goal-name{
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  font-weight: 100;
}

.dashboard_goal .goal-name p{
  display: inline-block;
  width: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #F0F0F2;
  font-weight: 600;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 0;
  white-space: normal;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #f9f9f911;
}

.description {
  display: flex;
  text-align: center;
  min-width: 80px;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.description  p{
  padding: 5px 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.77rem;
  font-weight: 100;
  color: #f0f0f29c;
}

/* Contenedor de la barra de progreso */
.goal-item .goal_progress {
  width: 100%;
  margin-top: 15px;
  position: relative;
}

/* PROGRESO (NO ES BARRA, SOLO POSICIÓN) */
/* CAMINO DE TIERRA */
.goal-item .progress-bar {
  width: 100%;
  height: 18px;
  position: relative;
  /* border-radius: 999px; */
  background:
    linear-gradient(
      to bottom,
      #0d0d0d3a 0%,
      #0d0d0d5e 0%,
       50%,
      #32698c10 100%
    );
  box-shadow:
    inset 0 2px 3px rgba(0, 0, 0, 0.35),
    inset 0 -2px 3px rgba(255, 255, 255, 0.15);
  overflow: visible;
  border-radius: 5px;
}

/* TEXTURA DE TIERRA (GRANO) */
.goal-item .progress-bar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px),
    radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 6px 6px, 8px 8px;
  background-position: 0 0, 3px 3px;
  pointer-events: none;
}

/* PROGRESO (SOLO POSICIÓN) */
.goal-item .progress {
  position: absolute;
  top: 50%;
  left: 0;
  height: 18px;              /* ← importante */
  width: 0;                 /* se anima con JS o inline */
  transform: translateY(-50%);
  transition: width 1.2s ease-out;
  border-radius: 5px;
  transition: width 8s ease-out;
}

/* MARCADOR (PIEDRA / SEÑAL / PERSONA PROVISIONAL) */
.goal-item .progress::before {
  content: "🏆";
  position: absolute;
  right: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transform: translate(40%, -80%);
  font-size: 1.2rem;
}

.goal-item .progress::after {
  content: attr(data-value) "%";
  position: absolute;
  left: 98%;
  top: -23px;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: 600;
  color: #F0F0F2;
  background-color: #0d0d0dd2;
  padding: 2px 2px;
  border-radius: 5px;
  white-space: nowrap; 
}

/* Botón 3D con color vibrante */
.btn-3d {
  background: linear-gradient(145deg, #d99e6aef, #D99E6A); /* Naranja cálido */
  color: #F0F0F2;
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 6px 0 #D99E6A, 
              0 10px 20px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}

.btn-3d:hover{
  background-color: #d99e6a52;
}

/* Efecto al presionar */
.btn-3d:active {
  box-shadow: 0 2px 0 #d99e6a, 
              0 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(4px);
}

/* Efecto de brillo para resaltar más */
.btn-3d::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #1b25261f; 
  border-radius: 8px;
  pointer-events: none;
  color: #F0F0F2;
}

.goal-date .content-date{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-date p{
  padding: 4px 0px;
  font-size: 0.68rem;
  font-weight: 100;
  color: #F0F0F2;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #326A8C;
}

/* modal para cuando una mate avanza y muestra un mensaje */
/* Overlay que bloquea toda la pantalla */
.goal-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Contenedor del modal */
.goal-message-modal {
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);           /* empieza pequeño */
  animation: modalPop 1s ease-out forwards;
}

@keyframes modalPop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);  /* un poco más grande para efecto “pop” */
    opacity: 1;
  }
  100% {
    transform: scale(1);    /* tamaño final */
    opacity: 1;
  }
}

/* Mensaje motivador */
.goal-message-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
    --main-color: #f0f0f2;
  --main-bg-color: #456E73;
  --pattern-color: #32698c21;
  /* change this rotation value */
  filter: hue-rotate(0deg);
  cursor: pointer;
  letter-spacing: 0.2rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    12px 12px,
    12px 12px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: .27rem 2rem;
  font-weight: 100;
  font-size: .8rem;
  border-radius: 5px;
  transition: background-size 0.2s ease-in-out;
}

/* Botón de cerrar */
.goal-message-button {
  width: 20px;
  height: 20px;
  padding: 1.2rem; /* puedes dejar 1.2rem para ambos ejes */
  border-radius: 8px;
  border: 2px solid #bdbfbf3f;
  background-color: transparent;
  color: #F0F0F2;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;

  display: flex;           
  align-items: center;     
  justify-content: center;
}

.goal-message-button:hover {
  border: 2px solid #bdbfbf94;
  background: #0d0d0d3a;
}

/* Animación de entrada */
@keyframes scaleIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* modal para eliminar, editar una tarea */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  z-index: 10000;
  pointer-events: auto;
  background: #0d0d0d3a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.2px);
}

.modalContent {
  width: 400px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0d0d0dc0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.modalContent .goalName{
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  text-align: justify;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  background: #03415944;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  padding: 8px 12px;
}

.modalContent .goalTitle{
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  background: #03415944;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  padding: 8px 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalContent span{
  font-size: .9rem;
  font-weight: bold;
  color: #F0F0F2;
  padding: 5px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bdbfbf3f;
}

.modalContent p{
  width: 100%;
  font-size: .9rem;
  color: #F0F0F2;
  padding: 5px;
  font-weight: 500;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
}

/* estilo para el modal de actualizar */
.modalContent textarea{
  width: 100%;
  padding: 12px;
  margin: 2px 0;
  border-radius: 5px; 
  border: none;
  background: rgba(50, 50, 50, 0.3);
  color: #F0F0F2; 
  font-size: .8rem; 
  transition: border-color 0.3s;
  outline: none;
  resize: none;
  min-height: 70px;
  overflow-y: auto; 
}

.modalOverlay .modalContent  .btn-options{
  display: flex;
  margin-top: 5px;
}

.modalContent button {
  display: flex; 
  align-items: center;
  gap: 5px;
  margin: 10px 8px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: .8rem;
  color: #F0F0F2;
  border: 2px solid #bdbfbf3f;
}

/* estilo para el modal de actualizar */
.error-Update{
  width: 100%;
  height: 20px;
  font-size: .8rem !important;
  color: #F0F0F2;
  font-style: italic;
  font-weight: 100 !important;
  border-radius: 5px;
  text-align: center;
}

/* ----------------modal para agregar avance de una meta----------- */
.modalOverlayPreview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  z-index: 10000;
  pointer-events: auto;
  background: #0d0d0d3a;
  backdrop-filter: blur(0.2px);
}
.modalContentPreview {
  width: 400px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0d0d0dc0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@keyframes fadeOutPower {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg); /* pequeño rebote */
  }
  60% {
    opacity: 0.7;
    transform: scale(0.95) rotate(-5deg); /* rebote hacia otro lado */
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(20deg); /* desaparece y se encoje con giro */
  }
}

/* Clase que aplicaremos al modal al cerrar */
.modalContentPreviewClosing {
  animation: fadeOutPower 0.5s ease-in-out forwards;
}

.modalContentPreview .goalName{
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  text-align: justify;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  background: #03415944;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  padding: 8px 12px;
}

/* Estilo para el input */
.modalOverlayPreview .modalContentPreview .inputAdvance {
  padding: 10px 5px;
  border-radius: 7px;
  background: #03415944;
  color: #F0F0F2;
  text-align: center;
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: background 0.3s ease;
  margin: 10px 0;
}

/* Efecto cuando el input está en foco */
.modalOverlayPreview .modalContentPreview .inputAdvance:focus {
  background: #326A8C; 
}

.modalOverlayPreview .modalContentPreview .inputAdvance::-webkit-outer-spin-button,
.modalOverlayPreview .modalContentPreview .inputAdvance::-webkit-inner-spin-button {
  height: 35px; 
  width: 35px;   
  border: none;
  cursor: pointer;
  margin: 10px;  
  padding: 0 5px;
}

/* Para Firefox, se eliminan los botones de incremento/decremento */
.modalOverlayPreview .modalContentPreview .inputAdvance[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield; 
  -webkit-appearance: none;
}

.modalOverlayPreview .modalContentPreview .btn-options{
  display: flex;
  margin-top: 5px;
}

.modalContentPreview button {
  display: flex; 
  align-items: center;
  gap: 5px;
  margin: 10px 8px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: .8rem;
  color: #F0F0F2;
  border: 2px solid #bdbfbf3f;
}

/* Contenedor de la barra de progreso */
.modalOverlayPreview .modalContentPreview .goal_progress {
  width: 100%;
  margin-top: 15px;
  position: relative;
}

/* Barra de fondo con diseño moderno */
.modalOverlayPreview .modalContentPreview .progress-bar {
  width: 100%;
  height: 18px;
  position: relative;
  /* border-radius: 999px; */
  background:
    linear-gradient(
      to bottom,
      #0d0d0d3a 0%,
      #0d0d0d5e 0%,
       50%,
      #32698c10 100%
    );
  box-shadow:
    inset 0 2px 3px rgba(0, 0, 0, 0.35),
    inset 0 -2px 3px rgba(255, 255, 255, 0.15);
  overflow: visible;
  border-radius: 5px;
}

.modalOverlayPreview .modalContentPreview .progress-bar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px),
    radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 6px 6px, 8px 8px;
  background-position: 0 0, 3px 3px;
  pointer-events: none;
}

/* Barra de progreso con animación lenta */
.modalOverlayPreview .modalContentPreview .progress {
  position: absolute;
  top: 50%;
  left: 0;
  height: 18px;              /* ← importante */
  width: 0;                 /* se anima con JS o inline */
  transform: translateY(-50%);
  transition: width 1.2s ease-out;
  border-radius: 5px;
}

.modalOverlayPreview .modalContentPreview .progress::before{
  content: "🏆";
  position: absolute;
  right: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translate(40%, -80%);
  font-size: 1.2rem;
}

/* Número dentro de la barra, bien alineado y legible */
.modalOverlayPreview .modalContentPreview .progress::after {
 content: attr(data-value) "%";
  position: absolute;
  left: 100%;
  top: -23px;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: 600;
  color: #F0F0F2;
  background-color: #0d0d0dd2;
  padding: 2px 4px;
  border-radius: 5px;
  white-space: nowrap; /* CLAVE */
}

/* Contenedor del GIF debajo del mensaje */
.goal-message-gif-wrapper {
  margin-top: 10px;      /* espacio entre mensaje y GIF */
  text-align: center;    /* centra el GIF horizontalmente */
}

/* El GIF en sí */
.goal-message-gif {
  width: 120px;          /* tamaño ancho del GIF */
  height: 120px;         /* tamaño alto */
  object-fit: contain;   /* mantiene proporción sin deformar */
  display: inline-block; /* se centra con text-align */
  pointer-events: none;  /* evita que el GIF bloquee clicks */
  animation: pop 0.5s ease-out; /* animación ligera de entrada */
}

/* Animación tipo “pop” al aparecer */
@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
 /* resaltar mensajes que se muestran en metas */
.highlight {
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 5px;
  background-color:#456e738f;
  color: #f0f0f2;
}


/* media queries pantallas inferiores a 768px */
@media (max-width: 768px) {
  .goals-container .goals_header .options .options_list{
    min-width: 230px;
  }

  .goals-container .goals_header .title{
    display: none;
  }

  .goals-container .goals_header{
    margin-top: 15px;
  }

  .search_goals .content-search{
    width: 95%;
    padding: 10px;
  }

  .goals-container .dashboard_goal .goal-item{
    min-width: 100%;
  }

  .search_goals .content-search button{
    width: 20%;
  }

  .goals-container .dashboard_goal {
    grid-template-columns: repeat(2, 1fr); /* 2 tarjetas por fila */
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .goals-container .goals_header .options .options_list{
    min-width: 90px;
  }

  .goals-container .dashboard_goal {
    grid-template-columns: repeat(1, 1fr); /* 1 tarjeta por fila */
    max-width: 100%;
  }

}

/* modal */
@media (max-width: 320px) {
  .modalContent {
    width: 380px;
    max-width: 280px;
  }
}