/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Crea un fondo estrellado animado */
body {
  width: 100%;
  height: auto; /* Permite que el alto sea dinámico según el contenido */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

 /* estrellas */
  body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: transparent url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
    z-index: -1;
    animation: stars 6000s linear infinite;
  }

   @keyframes stars {
    from { background-position: 0 0; }
    to   { background-position: 10000px 5000px; }
  }

/* Crea un fondo estrellado estático */
/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 20%, transparent 20%) 0 0;
  background-size: 5px 5px; 
  pointer-events: none; 
} */

/* Contenedor principal */
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.header h1 {
  width: 100%;
  padding: 20px 0;
  font-size: 1.2rem;
  margin: 0 30px 0px 0px;
}

.messageContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  background: #0d0d0d1c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
}

.closing {
  opacity: 0;
  transform: translateY(-20px); /* sube y desaparece suavemente */
}
.header .welcomeTextContainer {
  position: relative;
  overflow: hidden;
}

.header .welcomeTextContainer p {
  padding: 10px 2px;
  font-family: 'Inter', 'Poppins', 'Plus Jakarta Sans', sans-serif;
  font-size: clamp(14px, 1vw, 18px);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #f0f0f2ee;
  width: fit-content;
  max-width: 100%;
}
.header .welcomeTextContainer p::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background:
    linear-gradient(
      120deg,
      transparent 20%,
      rgba(255, 255, 255, 0.08) 40%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.08) 60%,
      transparent 80%
    );

  animation: welcomeGlow 6s ease-in-out infinite;
  opacity: 0.9;
}

@keyframes welcomeGlow {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.taskCount {
  font-weight: 300;     
  color: #F0F0F2;        
  background: #456E73;
  padding: 2px 6px;
  border-radius: 50%;
}

.username {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  background: linear-gradient(to bottom, #9CC8D9, #326A8C);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.username::before,
.username::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #456E73;
  animation: sparkle 1s infinite ease-in-out;
  pointer-events: none;
}

.username::before {
  width: 4px;  /* Partículas más pequeñas */
  height: 4px;
  top: 0;
  left: 30%;
  animation-delay: 0s;  /* Primer punto de emisión */
}

.username::after {
  width: 3px;  /* Partículas más pequeñas */
  height: 3px;
  top: 0;
  left: 60%;
  animation-delay: 0.3s;  /* Segundo punto de emisión */
}

.username::after,
.username::before {
  animation: sparkle 1s infinite ease-in-out;
}

@keyframes sparkle {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(10px, -20px) scale(0.5);
    opacity: 0.6;
  }
  100% {
    transform: translate(-10px, -40px) scale(0);
    opacity: 0;
  }
}

/* Estilos de las tarjetas */
.dashboard {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* Ajuste de las tarjetas */
.card {
  max-width: 350px;
  min-width: 280px;
  background: #0d0d0d1c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(10px); */
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.card h3{
  margin: 10px 0; 
  text-align: center;
}

/* Contenedor de lista */
.list-container {
  min-height: 100px;
  padding: 10px; /* Más padding para mejor espaciado */
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.014);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar contenido verticalmente */
  align-items: center;
}

.empty-text {
  color: #F0F0F2;
  font-style: italic;
  margin: 10px 0; 
  text-align: center;
  font-size: .9rem;
}

/* Estilos para tareas, frases y metas en el home */
.task-text {
  width: 100%;
  color: #F0F0F2;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
  text-align: left;
  background: linear-gradient(45deg, rgba(59, 57, 57, 0.1), rgba(44, 44, 44, 0.1), rgba(59, 57, 57, 0.4)); /* Fondo con degradado */
  padding: 10px 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
  position: relative;
}

.task-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ccircle cx="50" cy="50" r="1" fill="white" opacity="0.5" /%3E%3C/svg%3E') repeat;
  pointer-events: none; /* Esto asegura que no interfiera con los clics */
  animation: starfall 2s linear infinite;
  z-index: -1; /* Asegura que las estrellas estén en el fondo */
}

@keyframes starfall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}

.title-name {
  color: #F0F0F2;
  font-size: .9rem;
  font-weight: bold;
  text-transform: none; 
}

.alert-red {
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    background-color: rgba(133, 78, 78, 0.4); 
  }
  100% {
    background-color: rgba(134, 79, 79, 0.15); 
  }
}

.card-notification.closing {
  animation: slideUp 0.5s ease-in forwards; 
}

@keyframes slideUp {
  0% {
    top: 20px; /* Empieza desde la posición visible */
  }
  100% {
    top: -100px; /* Se va fuera de la pantalla */
  }
}

/* Estilos para los nuevos elementos */
.task-status {
  margin-top: 8px;
  font-size: 0.8rem;
}

.complete-status {
  color:#F0F0F2;
  padding: 4px 10px;
  background-color: #D99E6A;
  border-radius: 2px;
  margin-top: 8px;
}

.incomplete-status {
  color: #F0F0F2;
  padding: 4px 10px;
  background-color: #456E73;
  border-radius: 2px;
  margin-top: 8px;
}

.task-date {
  margin-top: 8px;
  padding: 3px 0px;
  font-size: 0.8rem;
  font-weight: 100;
  color: #F0F0F2;
}
/* ------------- tareas diarias -------------- */
.author-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px 0px;
  margin-top: 0px;
  font-size: 1rem;
}

.content-author{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: px;
  font-size: 0.8rem;
  font-weight: 100;
  color: #F0F0F2;
}

.author{
  color: #F0F0F2;
  padding: 1px 10px;
  border-radius: 5px;
  border: 1px solid #bdbfbf21;
  background: #0d0d0d85;
}

.favorite-icon {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Corazón favorito (rojo) con animación de latido */
.favorite-icon.favorite {
  color: #BF2011;
  animation: heartbeat 10s infinite alternate;
}

/* Corazón no favorito (gris) */
.favorite-icon.not-favorite {
  color: #F0F0F2;
}

/* Animación de latido */
@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

/* ------------- frases o diario -------------- */
.goals-unit {
  display: inline-block; /* Se ajusta al contenido */
  min-width: 30%; 
  max-width: 100%; 
  color: #F0F0F2;
  padding: 1px 10px;
  border-radius: 2px;
  border: 1px solid #bdbfbf21;
  margin-top: 4px;
  background-color: #456E73;
  word-wrap: break-word; /* Evita que el texto desborde */
}

/* Botón de agregar */
.add-button {
  background-color: #326A8C;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espacio entre ícono y texto */
  width: 100%;
  font-size: 1rem;
}

.add-button:focus{
  outline: none;
}

.add-button:hover {
  background-color: #32698cab;
  transform: scale(1.05);
}

.add-button .fa-icon {
  font-size: 1rem;
}

@keyframes wave {
  0% { transform: rotate(0); }
  20% { transform: rotate(20deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(10deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0); }
}

.wave {
  display: inline-block;
  font-size: 1.8rem;
  animation: wave 2s ease-in-out 1;
}

/* recibir errores del servidor */
.errors{
  width: 100%;
  padding: 3px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ------------notificacion de tareas pendientes-------- */
.card-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;

  width: auto;
  max-width: 420px;  

  display: flex;
  justify-content: center;
  z-index: 1000;
  background: #0d0d0d13;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 2px;
  border: 1px solid #bdbfbf21;
}

/* SOLO MÓVIL */
@media (max-width: 768px) {
  .card-notification {
    min-width: 90vw; /* móvil ancho */
  }

  .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  }
}

/* ENTRADA */
.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}

/* SALIDA */
.slide-up {
  animation: slideUp 0.5s ease-in forwards;
}

@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}


.icon{
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(59, 57, 57, 0.007), rgba(44, 44, 44, 0.034), rgba(59, 57, 57, 0.253)); /* Fondo con degradado */
  border-radius: 10px;
  font-size: 2rem;
}

.message-text {
  padding: 5px 14px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #F0F0F2;
}

.sub-text {
  padding: 5px 14px;
  font-size: 0.8rem;
  font-weight: 100;
  color: #F0F0F2;
  max-width: 320px;
  white-space: normal;
  word-break: break-word;
}

.alert-icon{
  padding: 4px;
  border-radius: 5px;
  color: #F0F0F2;
}

.footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
  font-size: .7rem;
  font-weight: 600;
}

.footer .span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #bdbfbf21;
  cursor: pointer;
  margin-left: 5px;
}

.btn-buttons button {
  background-color: #326A8C;
  color: #F0F0F2;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-buttons button:hover {
  background-color: #32698cab;
}

/* estilos responsivos */
@media (max-width: 890px) {
  .header{
    padding: 0 50px;
  }
}


@media (max-width: 768px) {
  .header{
    padding: 0 50px;
  }
}

@media (max-width: 480px) { 
  .header{
    padding: 0 20px;
  }
}


@media (max-width: 600px) {
  .card {
    flex: 1 1 100%;
  }

  .header h1 {
    font-size: 1.3rem;
  }

  .add-button{
    padding: 8px 15px; /* Ajuste de padding para móviles */
    font-size: 0.9rem;
  }

  .empty-text {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
  }
}