@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container-information{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  transition: all 0.3s ease-in-out; 
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  letter-spacing: .5px;
}

.home-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--container-h2-info);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 10px;
}

.version {
  font-size: 0.9rem;
  color: var(--color-text-global);        
}

.info-section {
  padding: 20px;
  border-radius: 10px;
}

.info-section h3 {
  font-size: .7rem;
  color: var(--info-h3);
  margin-bottom: 8px;
}

.info-section p {
  font-size: .8rem;
  line-height: 1.6;
  color: var(--color-text-global);
  text-align: justify;
}

.info-section .info-question{
  font-size: 1.2rem;
  font-weight: bold;
}

.details, .contact {
  margin-top: 20px;
  padding: 15px;
  background: transparent;
  border-radius: 8px;
  border: var(--border-default);
}

.contact h3, .details h3 {
  font-size: 1rem;
  background: var(--bg-h3-info);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contact p, .details p {
  font-size: 0.8rem;
  color: var(--color-text-global);
  margin-top: 5px;
}

em {
  display: block;
  font-size: .8rem;
  color: var(--color-info-em);
  text-align: center;
  margin-top: 15px;
}

em strong {
  color: var(--color-info-em); 
  font-weight: bold;
}

em a {
  color: var(--color-btn);
  text-decoration: none;
  font-weight: bold;
}

em a:hover {
  text-decoration: underline;
}

