*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /* width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  background: var(--bg-gradient-body);
}

.container-all{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 500px;
  min-height: 350px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  border: var(--border-default);
  box-shadow: var(--shadow-card);
  backdrop-filter: blur(10px);
  padding: 0 20px;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .login-container{
    padding: 10px;
  }
}

/* Formulario estilizado */
.login-form {
  padding: clamp(30px, 6vw, 80px);
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  color: var(--color-text);
}

.login-form h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  background: var(--bg-h2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

/* Estilos de los campos de entrada */
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: .8rem;
  margin-bottom: 5px;
  color: var(--color-label);
}

.input-group input {
  width: auto;
  padding: 15px 29px;
  border: none;
  border-radius: 5px;
  background: var(--bg-input);
  color: var(--color-input);
  font-size: .8rem;
  outline: none;
  transition: all 0.3s ease;
}

.input-group input::placeholder {
  color: var(--color-inputPlaceH);
}

.input-group input:focus {
  background: var(--input-focus);
}

/* Botón de envío */
button {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-btn);
  color: var(--color-text);
  font-size: .8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:focus{
  outline: none;
}

button:hover {
  background-color: var(--btn-hover);
}

.register-link {
  margin-top: 20px;
  font-size: 0.8rem;
  color: var(--color-link);
}

.register-link a {
  color: var(--color-enlace);
  text-decoration: none;
  font-weight: bolder;
  transition: color 0.3s ease;
  padding: 5px;
}

.register-link a:hover {
  color: var(--color-enla-hover);
}

/* Estilos para los iconos de redes sociales */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.social-icons a {
  font-size: 2rem;
  color: var(--color-icon);
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--icon-color-hover);
}

/* .footer {
  margin-top: 30px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
} */

/* errores para el registrar usuario */
.input-error {
  box-shadow: var(--color-inputError) !important;
  transition: box-shadow 0.3s ease-in-out;
}

.error {
  color: var(--errorAndMessage);
  font-size: .8rem;
  margin-top: 3px;
}

.message{
  color: var(--errorAndMessage);
  font-size: .8rem;
}

/* Responsividad */
@media (max-width: 600px) {
  .login-form {
    padding: clamp(25px, 8vw, 40px);
  }

  .login-form h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .login-form {
    padding: 25px;
  }
}
