.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-modalOverlay); 
  backdrop-filter: blur(4px); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--bg-modal-content);
  box-shadow: var(--box-shadow);
  padding: 25px;
  border-radius: 5px; 
  max-width: 400px;
  width: 90%;
  text-align: center;
  color: var(--color-text-global);        
  position: relative;
  animation: fadeIn 1s ease-in-out;
  max-height: 97vh;   /* límite */
  overflow-y: auto;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none; 
}

.modal-content::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

@keyframes floatUpFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.modalContentClosingPowerful {
  animation: floatUpFade 1s ease-in-out forwards;
}

/* Fondo de estrellas */
.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-modalcontentBefore);
  background-size: 20px 20px;
  pointer-events: none;
  z-index: 0; 
  opacity: 0.5; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-content h2 {
  font-size: 1rem;
  margin-bottom: 10px;
  border: var(--border-modalTask);
  border-radius: 5px; 
}

/* label para fechas de inicio y final */
.starDate {
  display: grid;
  grid-template-columns: 1fr; /* 👈 UNA columna */
  gap: 12px;
  padding: 5px;
  text-align: left;
}

.timeToggle {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr auto; /* texto | checkbox */
  align-items: center;
  gap: 8px;
  padding: 2px 12px;
  cursor: pointer;
}

.timeToggle span {
  justify-self: start;   
  text-align: left;
  font-size: .8rem;
  color: var(--color-input);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeToggle input[type="checkbox"] {
  appearance: none;
  width: 10px;
  height: 10px;

  border: var(--border-default);
  border-radius: 2px;
  background: var(--bg-inputTaskModal);

  transform: scale(0.7);      
  transform-origin: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}

.timeToggle input[type="checkbox"] {
  position: relative;
}

.timeToggle input[type="checkbox"]:checked::after {
  content: "✓";
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  color: var(--color-text-global);
}

.starDate label {
  color: var(--color-label);
  font-size: .8rem;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px; 
  border: none;
  background: var(--bg-inputTaskModal);
  color: var(--color-input);
  font-size: .9rem; 
  transition: border-color 0.3s;
}

.modal-content textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px; 
  border: none;
  background: var(--bg-inputTaskModal);
  color: var(--color-text-global);
  font-size: .9rem; 
  transition: border-color 0.3s;
  outline: none;
  resize: none;
  min-height: 70px;
  overflow-y: auto; 
}

.modal-content input::placeholder,
.modal-content select {
  color: var(--color-text-global);
}

.modal-content input:focus,
.modal-content select:focus {
  outline: none;
  background: var(--bg-focusModalTask);
}

.modal-actions button:first-child {
  background-color: transparent; 
  color: var(--color-text-global); 
  border: var(--border-default);
  border-radius: 5px;
  padding: 8px 20px;
  font-size: .9rem;
  transition: background-color 0.3s, color 0.3s;
}

.modal-actions button:first-child:hover {
  background-color: var(--btn-hover); 
  color: var(--color-text-global);  
}
.modal-content select {
  background: var(--bg-select);
  color: var(--color-text-global);  
}

.modal-content select:focus {
  background: var(--bg-select-focus);
}

.modal-content select option {
  background: var(--bg-selectOption);
  color: var(--color-text-global);   
}

.modal-content select option:hover {
  background: var(--bg-select-optionHover)
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 20px;
}

.modal-actions button {
  padding: 10px 15px;
  border-radius: 5px; 
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.modal-actions button:last-child {
  background-color: transparent;
  color: var(--color-text-global); 
  border: var(--border-default);
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.modal-actions button:last-child:hover {
  background-color: var(--bg-select-optionHover); 
  color: var(--color-text-global); 
}

/* modal de tarea guardada con exito */
.success-message {
  background-color: var(--color-btn); 
  color: var(--color-text-global);
  padding: 5px 12px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: var(--boxshadowModal);
  transform: translateY(-10px);
  animation: slideFade 5s ease-in-out forwards;
}

/* modal de un error para cuando se intenta crear una tarea */
.error-message {
  background-color: var(--errorAndMessage); 
  color: var(--color-text-global);
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  box-shadow: var(--boxshadowModal);
  transform: translateY(-10px);
  animation: slideFade 5s ease-in-out forwards;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(-15px) scale(0.95);
  }
  10% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  90% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}

/* contenedor de errores */
.errorContainer {
  padding: 5px;
  border-radius: 3px;
  text-align: left;
}

/* Estilo para errores específicos de la tarea */
.errorTask {
  color: var(--errorAndMessage); 
  font-size: 0.8rem;
  margin-top: 3px; 
  font-weight: bold; 
  border-radius: 3px; 
}

/* Responsividad */

@media (min-width: 768px) {
  .starDate {
    grid-template-columns: 1fr 1fr; /* 👈 DOS columnas */
  }
}

@media (max-width: 600px) {
  .modal-content input,
  .modal-content select {
  background: var(--bg-inputTaskModal);
  }

  .timeToggle {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr auto; /* texto | checkbox */
  align-items: center;
  gap: 8px;
  padding: 2px 12px;
  cursor: pointer;
}
}

@media (max-width: 350px) {
  .timeToggle {
  width: 80%;
}
}

