*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* contenedor en de todo el contenido de frases */
.phrases-container{
  width: 100%;
  height: 100vh; 
}

/* estilos para el header */
.phrases-container .phrases_header{
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.phrases-container .phrases_header .title{
  margin: 10px 0;
  padding: 0 5px;
  color: #F0F0F2;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.phrases-container .phrases_header .title h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  letter-spacing: 1px;
  font-size: 2rem;
  /* border-bottom: 2px solid #034159; */
  background: linear-gradient(to bottom, #bdbfbfa4, #1b252623);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.phrases-container .phrases_header .options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; 
  padding: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* From Uiverse.io by Smit-Prajapati */ 
.button {
  --main-color: #f0f0f2;
  --main-bg-color: #456E73;
  --pattern-color: #32698c21;
  /* change this rotation value */
  filter: hue-rotate(0deg);
  cursor: pointer;
  letter-spacing: 0.2rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    12px 12px,
    12px 12px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: .27rem 2rem;
  font-weight: 100;
  font-size: .8rem;
  border-radius: 5px;
  transition: background-size 0.2s ease-in-out;
}

.button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.button:active {
  filter: hue-rotate(250deg);
}

/* ICONOS DEL BOTÓN (siempre animados) */
.button svg {
  font-size: 18px;
  margin-right: 6px;
  color: #f0f0f28a;
  animation: arrowIdle 10s ease-in-out infinite;
}

/* CLICK */
.button:active svg {
  transform: scale(0.9);
}

/* ANIMACIÓN SUTIL Y ELEGANTE */
@keyframes arrowIdle {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

/* estilos para la barra de buesqueda */
.search_phrases{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 5px;
}

.search_phrases .content-search{
  width: 60%;
  display: flex;
  padding: 5px;
  border-radius: 35px;
  border: 1px solid #bdbfbf3f;
}

.search_phrases .content-search input{
  width: 90%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: .7rem;
  padding: 0 10px;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
}

.search_phrases .content-search input::placeholder{
  color: #F0F0F2;
}

.search_phrases .content-search button{
  width: 10%;
  padding: 10px 10px;
  background-color: #326A8C;
  border-radius: 35px 35px 35px 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.search_phrases .content-search button:hover{
  background-color: #32698cab;
}

.noPhrases{
  width: 100%;
  font-size: 1.5rem;
  color: #F0F0F2;
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
}

/* estilos para no se encontraron tareas */
.error-container{
  width: 100%;
  height: 30px;
  padding: 0 10px;
  color: #f0f0f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.back{
  padding: 5px 10px;
  height: 40px;
  visibility: hidden;
}

.back.visible {
  visibility: visible;
}

.back svg {
  color: #F0F0F2; 
  font-size: 1rem; 
  padding: 10px 15px;
  background-color: #326A8C;
  cursor: pointer;
  border-radius: 5px;
}

.back svg:hover{
  background-color: #32698cab;
}

.error-container .error-search{
  font-size: .8rem;
  font-style: italic;
  font-weight: 600;
  padding: 2px 20px;
  border-radius: 5px;
}

/* estilos para las frases */
.phrases-container .dashboard_phrase {
  column-count: auto; /* Se adapta dinámicamente */
  column-width: 220px; /* Define un ancho mínimo para las columnas */
  column-gap: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}


.phrases-container .dashboard_phrase .phrase-item {
  display: inline-block; /* Permite que los elementos fluyan en columnas */
  width: 100%;
  padding: 10px;
  color: #F0F0F2;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  background: #0d0d0d3a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  word-break: break-word;
  white-space: normal;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}


.phrases-container .dashboard_phrase .phrase-item:hover{
  background: #0d0d0d5e;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}

.phrases-container .dashboard_phrase .phrase-item:active{
  transform: translateY(2px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.phrase-item .content-infoPhrase{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
}

.dashboard_phrase .phrase-name{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  font-weight: 100;
}

.dashboard_phrase .phrase-name p{
  width: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
  color: #F0F0F2;
  flex: 1; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 0;
  white-space: normal;
}

/* Contenedor del autor */
.author {
  display: flex;
  text-align: center;
  min-width: 80px;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}

.author p{
  padding: 0 10px;
  border-radius: 2px;
  display: inline-block;
  color: #f0f0f296;
  font-size: .7rem;
  background: #0d0d0d85;
  border-radius: 5px;
}

/* css para cuando se da click a favorite en frases */
.favorite-checkbox {
  display: none; 
}

.heart-label {
  font-size: 24px; 
  cursor: pointer;
  transition: color 0.3s ease, filter 0.3s ease, transform 0.3s ease;
  color: #034159;
}

.heart-label.favorited {
  color:#BF2011; 
  filter: drop-shadow(0px 0px 6px rgba(255, 107, 107, 0.6)); /* Efecto brillo */
  animation: soft-pop 0.3s ease-in-out;
}

.heart-label:not(.favorited) {
  animation: soft-pop-reverse 0.3s ease-in-out;
}

@keyframes soft-pop {
  0% { transform: scale(1); opacity: 0.8; }
  50% { transform: scale(1.15); opacity: 1; }
  100% { transform: scale(1); }
}

@keyframes soft-pop-reverse {
  0% { transform: scale(1.15); opacity: 1; }
  50% { transform: scale(1); opacity: 0.8; }
  100% { transform: scale(1); }
}

/* ----------------------------------------- */

.phrase-date .content-date{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-date p{
  padding: 4px 0px;
  font-size: 0.68rem;
  font-weight: 100;
  color: #F0F0F2;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #326A8C;
}

/* modal para eliminar, editar una frase */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  z-index: 10000;
  pointer-events: auto;
  background: #0d0d0d3a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.2px);
}

.modalContent {
  width: 400px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0d0d0d3f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.modalContent .phraseTitle{
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  background: #03415944;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  padding: 8px 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalContent p{
  font-size: .8rem;
  color: #F0F0F2;
  padding: 5px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
}

.modalContent span{
  font-size: .8rem;
  color: #F0F0F2;
  padding: 12px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  width: 100%;
  text-align: justify;
}

/* estilo para el modal de actualizar */
.modalContent textarea{
  width: 100%;
  padding: 12px;
  margin: 2px 0;
  border-radius: 5px; 
  border: none;
  background: rgba(50, 50, 50, 0.3);
  color: #F0F0F2; 
  font-size: .8rem; 
  transition: border-color 0.3s;
  outline: none;
  resize: none;
  min-height: 70px;
  overflow-y: auto; 
}

.modalContent label {
  width: 100%;
  text-align: justify;
  font-size: .8rem;
  color: #F0F0F2;
  margin-top: 15px;
  padding: 0px 12px;
}

.modalContent input{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px; 
  border: none;
  background: rgba(50, 50, 50, 0.2);
  color: #f0f0f2; 
  font-size: .9rem; 
  transition: border-color 0.3s;
  outline: none;
}

.modalContent .question{
  font-size: .8rem;
  font-weight: bold;
  padding: 5px;
  color: #f0f0f2; 
}

.modalOverlay .modalContent  .btn-options{
  display: flex;
  margin-top: 5px;
}

.modalContent button {
  display: flex; 
  align-items: center;
  gap: 5px;
  margin: 10px 8px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: .8rem;
  color: #f0f0f2; 
  border: 2px solid #bdbfbf3f;
}

/* estilo para el modal de actualizar */
.error-search{
  width: 100%;
  font-size: .8rem !important;
  color: #F2F2F2;
  font-weight: 100 !important;
  border-radius: 5px;
  text-align: center;
}

/* media queries pantallas inferiores a 768px */
@media (max-width: 768px) {
  .phrases-container .phrases_header .options .options_list{
    min-width: 230px;
  }

  .phrases-container .phrases_header .title{
    display: none;
  }

  .phrases-container .phrases_header{
    margin-top: 15px;
  }

  .search_phrases .content-search{
    width: 95%;
    padding: 10px;
  }

  .phrases-container .dashboard_phrase .phrase-item{
    min-width: 100%;
  }

  .search_phrases .content-search button{
    width: 20%;
  }

  .phrases-container .dashboard_phrase {
    grid-template-columns: repeat(2, 1fr); /* 2 tarjetas por fila */
    max-width: 600px;
  }

  .error-search{

  }
}

@media (max-width: 480px) {
  .phrases-container .phrases_header .options .options_list{
    min-width: 90px;
  }

  .phrases-container .dashboard_phrase {
    grid-template-columns: repeat(1, 1fr); /* 1 tarjeta por fila */
    max-width: 100%;
  }

}

@media (max-width: 320px) {
  .modalContent {
    width: 380px;
    max-width: 280px;
  }
}