*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task-container-all{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* contenedor en de todo el contenido de tareas */
.task-container{
  max-width: 800px;
  min-height: 350px;
  max-height: 500px;
  height: 100%;
}

/* estilos para el header */
.task-container .task_header{
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.task-container .task_header .title{
  margin: 10px 0;
  padding: 0 5px;
  color: var(--color-text-global);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.task-container .task_header .title h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; 
  letter-spacing: 1px;
  font-size: 2rem;
  /* border-bottom: 2px solid #034159; */
  background: var(--bg-h2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.task-container .task_header .options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; 
  padding: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* From Uiverse.io by Smit-Prajapati */ 
.button {
  /* change this rotation value */
  filter: hue-rotate(0deg);
  cursor: pointer;
  letter-spacing: 0.2rem;
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    12px 12px,
    12px 12px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--color-text-global) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--color-text-global);
  padding: .27rem 2rem;
  font-weight: 100;
  font-size: .8rem;
  border-radius: 5px;
  transition: background-size 0.2s ease-in-out;
}

.button:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.button:active {
  filter: hue-rotate(250deg);
}

/* ICONOS DEL BOTÓN (siempre animados) */
.button svg {
  font-size: 18px;
  margin-right: 6px;
  color: var(--color-svg);
  animation: arrowIdle 10s ease-in-out infinite;
}

/* CLICK */
.button:active svg {
  transform: scale(0.9);
}

/* ANIMACIÓN SUTIL Y ELEGANTE */
@keyframes arrowIdle {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

/* errores */
.errorTask {
  font-size: 0.9rem;
  color: var(--color-text-global);
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-style: italic; 
  margin-top: 10px;
  font-weight: bold;
  animation: blink 1s infinite alternate ease-in-out;
}

/* Animación de parpadeo */
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/* estilos para la barra de buesqueda */
.search_task{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 5px;
}

.search_task .content-search{
  width: 60%;
  display: flex;
  padding: 5px;
  border-radius: 35px;
  border: var(--border-default);
}

.search_task .content-search input{
  width: 90%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: .7rem;
  padding: 0 10px;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
}

.search_task .content-search input::placeholder{
  color: var(--color-text-global);
}

.search_task .content-search button{
  width: 10%;
  padding: 10px 10px;
  background-color: var(--color-btn);
  border-radius: 35px 35px 35px 35px;
  box-shadow: var(--box-shadow);
}

.search_task .content-search button:hover{
  background-color: var(--btn-hover);
}

.noTask{
  width: 100%;
  font-size: 1.5rem;
  color: var(--color-text-global);
  margin-top: 50px;
  text-align: center;
  font-weight: bolder;
}

/* estilos para no se encontraron tareas */
.error-container{
  width: 100%;
  height: 30px;
  color: var(--color-text-global);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.back{
  padding: 5px 10px;
  height: 40px;
  visibility: hidden;
}

.back.visible {
  visibility: visible;
}

.back svg {
  color: var(--color-text-global);
  font-size: 1rem; 
  padding: 10px 15px;
  background-color: var(--color-btn);
  cursor: pointer;
  border-radius: 5px;
}

.back svg:hover{
  background-color: var(--btn-hover);
}

.error-container .error-search{
  font-size: .8rem;
  font-style: italic;
  font-weight: 600;
  padding: 2px 20px;
  border-radius: 5px;
}

/* estilos para las tareas */
.task-container .dashboard_task {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Máximo 3 tarjetas por fila */
  gap: 10px; 
  padding: 10px;
  max-width: 900px; 
  margin: 0 auto; 
}

.sectionTitle {
  grid-column: 1 / -1;
  margin: 20px 0 8px;
  font-weight: 600;
  opacity: 0.85;
  font-size: 1rem;
}

.task-container .dashboard_task .task-item{
  display: flex;
  align-items: center;
  padding: 10px 10px;
  min-width: 250px;
  flex: 1; 
  max-width: 300px; 
  white-space: nowrap; 
  color: var(--color-text-global);
  cursor: pointer;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 5px; 
  transition: all 0.3s ease-in-out; 
  background: var(--bg-item-global);
  box-shadow: var(--box-shadow);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.task-container .dashboard_task .task-item:hover{
  background: var(--gb-item-globalHover);
  box-shadow: var(--box-item-global);
  transform: translateY(-2px);
}

.task-container .dashboard_task .task-item:hover:active{
  transform: translateY(2px);
  box-shadow: var(--box-item-globalActive);
}

/* estilos para el checbox */
.task-item .custom-checkbox {
  display: none;
}

.task-item .checkbox-label {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  border: var(--border-modal-btn);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: transparent; /* Hace que el check no se vea al inicio */
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.checkbox-label.pending {
  color: transparent;
}

.checkbox-label.in_progress::after {
  content: "";
  width: 14px;
  height: 14px;
  border: var(--border-modalTask);
  border-top: var(--borderHabit);
  border-radius: 50%;
  animation: spin 8s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}

.checkbox-label.completed {
  background-color: #d99e6a09;
  border-color: var(--color-btn);
  color: var(--color-text-global);
}

.checkbox-label.completed::after {
  content: "✔";
}

.task-item .content-infoTask{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.dashboard_task .task-name{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

.dashboard_task .task-name p{
  width: auto;
  color: var(--color-text-global);
  font-size: 0.7rem;
  font-weight: 600;
  flex: 1; /* Permite que el texto tome todo el espacio disponible */
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 0;
  white-space: normal;
}

/* Estilos para las prioridades */
.highPriority {
  background-color: var(--color-heart-label-favorited);
  color: var(--color-text-global);
  padding: 2px 3px;
  border-radius: 5px;
  font-size: 0.68rem;
  font-weight: 600;
  white-space: nowrap;
}

.mediumPriority {
  background-color: var(--medium-priority); 
  color: var(--color-text-global);
  padding: 2px 3px;
  border-radius: 5px;
  font-size: 0.68rem;
  font-weight: 600;
  white-space: nowrap;
}

.lowPriority {
  background-color: var(--lowPriority); 
  color: var(--color-text-global);
  padding: 2px 3px;
  border-radius: 5px;
  font-size: 0.68rem;
  font-weight: 600;
  white-space: nowrap;
}

/* Contenedor de la prioridad */
.task-priority {
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

.task-category {
  width: 100%;
}

.task-category p{
  padding: 0 10px;
  border-radius: 2px;
  display: inline-block;
  color: var(--color-text-global);
  font-size: .7rem;
  background-color: var(--pattern-color);
}

.task-date .content-date{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* animacion de las fechas */
.date-toggle {
  animation: fadeSwap 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadeSwap {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.content-date p{
  padding: 4px 0px;
  font-size: 0.64rem;
  font-weight: 100;
  color: var(--color-text-global);
  padding: 5px 5px;
  border-radius: 5px;
  background-color: var(--color-btn-date);
}

/* estilos para la barra de scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-heart-label);
  backdrop-filter: blur(5px); /* Efecto de vidrio */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--webkit-scrollbar-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--webkit-scrollbar-thumbHover);
}

/* modal para eliminar, editar una tarea */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  z-index: 10000;
  pointer-events: auto;
  background: var(--bg-modal-overlay);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(0.2px);
}

.modalContent {
  width: 400px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-modal-content);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(5px);
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.modalContentClosing {
  animation: fadeOutPower 0.5s ease-in-out forwards;
}

@keyframes fadeOutPower {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg); /* pequeño rebote */
  }
  60% {
    opacity: 0.7;
    transform: scale(0.95) rotate(-5deg); /* rebote hacia otro lado */
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(20deg); /* desaparece y se encoje con giro */
  }
}

.modalContent .taskTitle{
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
  background: var(--btn-hover);
  box-shadow: var(--shadow-goalName);
  font-weight: 600;
  padding: 8px 12px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalContent p{
  font-size: .9rem;
  color: var(--color-text-global);
  padding: 5px;
  font-weight: bold;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
}

/* estilo para el modal de actualizar */
.modalContent label {
  width: 100%;
  text-align: left;
  font-size: .8rem;
  color: var(--color-text-global);
  margin-top: 5px;
  padding: 0px 4px;
}

/* estilo para el modal de actualizar */
.modalContent input, .modalContent select{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px; 
  border: none;
  background: var(--bg-modal-input);
  color: var(--color-text-global); 
  font-size: .9rem; 
  transition: border-color 0.3s;
}

/* estilo para el modal de actualizar */
select option {
  background: var(--bg-selectOption); 
  color: var(--color-text-global);
}

/* estilo para el modal de actualizar */
.modal-content select option:hover {
  background: var(--select-option);
}

/* estilo para el modal de actualizar */
.error-search{
  width: 100%;
  font-size: .8rem !important;
  color: var(--color-text-global);
  font-weight: 100 !important;
  border-radius: 5px;
  text-align: center;
}

.modalContent input:focus, .modalContent select:focus{
  outline: none;
  background: var(--bg-focusModalTask);
}

.modalContent input::placeholder{
  color: var(--color-text-global);
  font-size: .8rem;
}


.modalContent .question{
  font-size: .8rem;
  font-weight: bold;
  padding: 5px;
  color: var(--color-text-global);
}

.modalOverlay .modalContent  .btn-options{
  display: flex;
  margin-top: 5px;
}

.modalContent button {
  display: flex; 
  align-items: center;
  gap: 5px;
  margin: 10px 8px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: .8rem;
  color: var(--color-text-global);
  border: var(--border-default);
}

/* cuando la tarea expira... */
.expired-task {
  opacity: 0.6; /* Hace que la tarea se vea más apagada */
  background: var(--color-enlace); /* Hace el fondo más tenue */
  filter: grayscale(40%); /* Agrega un ligero tono gris para diferenciarla */
}

/* media queries pantallas inferiores a 768px */
@media (max-width: 768px) {
  .task-container .task_header .options .options_list{
    min-width: 230px;
  }

  .task-container .task_header .title{
    display: none;
  }

  .task-container .task_header{
    margin-top: 15px;
  }

  .search_task .content-search{
    width: 95%;
    padding: 10px;
  }

  .task-container .dashboard_task .task-item{
    min-width: 100%;
  }

  .search_task .content-search button{
    width: 20%;
  }

  .task-container .dashboard_task {
    grid-template-columns: repeat(2, 1fr); /* 2 tarjetas por fila */
    max-width: 600px;
  }

  .content-date p{
  font-size: 0.6rem;
}
}

@media (max-width: 480px) {
  .task-container .task_header .options .options_list{
    min-width: 90px;
  }

  .task-container .dashboard_task {
    grid-template-columns: repeat(1, 1fr); /* 1 tarjeta por fila */
    max-width: 100%;
  }

}

@media (max-width: 320px) {
  .modalContent {
    width: 380px;
    max-width: 280px;
  }
}

